{% extends "base.html" %}
{% block title %}About Us{% endblock title %}
{% block body %}
<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1>About Quiz App</h1>
        <p class="lead">Welcome to Quiz App! Our mission is to make learning fun and interactive. With our diverse range of quiz topics, you can test your knowledge, learn new things, and challenge your friends. Our platform is designed to be user-friendly and engaging, providing you with an enjoyable quiz experience.</p>
        <h2>Features</h2>
        <ul>
          <li>Wide variety of quiz topics</li>
          <li>Real-time scoring and feedback</li>
          <li>User-friendly interface</li>
          <li>Customizable quizzes</li>
          <li>Leaderboard to track your progress</li>
        </ul>
        <h2>Our Team</h2>
        <p>Our team consists of passionate developers, educators, and designers who are dedicated to creating the best quiz platform for learners of all ages. We believe that learning should be accessible and enjoyable, and we strive to achieve this with every feature we implement.</p>
        <h2>Contact Us</h2>
        <p>If you have any questions, suggestions, or feedback, feel free to <a href="/contact">contact us</a>. We are always looking for ways to improve and would love to hear from you!</p>
      </div>
    </div>
  </div>
</section>


  {% endblock body %}
  

 

	
