{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}
{% block body %}
{% load static %}

<div class="container px-10 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Quiz Topics</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        {% for subject in subjects %}
            <div class="feature col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <img src="{{ subject.icon }}" loading="lazy" alt="{{subject.name}} " title="{{subject.name}}" width="64" height="64" srcset="{{ subject.icon }}" class="pd-none" />
                </div>
                <h3 class="fs-2 text-body-emphasis">{{subject.name}}</h3>
                <p> {{subject.description}} </p>
                <a href="{% url 'game_level' subject.name %}" class="icon-link">Let's Go 🚀</a>
            </div>
        {% endfor %}
        

    </div>
</div>
{% endblock %}
